{% extends 'administrateur/baseAdministrateur.html.twig' %}

{% block title %}Ajout d'un manga{% endblock %}

{% block h1 %}
    <h1 class="titremanga">Ajout d'un manga</h1>
    <br><br>
{% endblock %}



{% block body %}

    {% if resultat.res is defined %}

        <div id="snackbar">{{ resultat.message }}</div>
        <script>
            var couleur;
            {% if resultat.res == 'error' %}
                couleur = '#E74C3C';
            {% else %}
                couleur = '#27AE60';
            {% endif %}
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";
            x.style.backgroundColor = couleur;

            // After 3 seconds, remove the show class from DIV
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);</script>
    {% endif %}

    <div>
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.serie) }}
            </div>
        </div>
        <div class="row">

            <div class="col">

                {{ form_row(form.nbPage)}}
            </div>
            <div class="col" id="some-custom-id">
                {{ form_row(form.numTome) }}

            </div>
        </div>

        {{ form_row(form.image, {
            attr: {
                'placeholder': 'Choisir une image'
            }
        }) }}

        {{ form(form) }}

        {{ form_end(form) }}

    <br><br><br>

{% endblock %}